# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ----------------------
# Flask / Runtime
# ----------------------
instance/
*.log

# ----------------------
# Database (VERY IMPORTANT)
# ----------------------
smart_tiles.db
*.db

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# Node (if any JS tools later)
# ----------------------
node_modules/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db
